pre, .r-output, .inline-output {
    margin-bottom: 30px;
}

pre code {
  font-size: 12px; /* Adjust to your desired font size */
}
code {
  font-size: 12px; /* Inline code */
}

body {
  margin-left: 50px;
  margin-right: 50px;
}

p {
  text-align: justify;
}

